{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
	#login_header{
	color: grey;
	// margin:
	}
	
	form{
		// background-color:red;
	}
	
	form p label{
		color:grey;	
	}
	
	form p input{
		color:grey;	
		text-align:center;
	}
	
</style>

<h1 id="login_header" class="row d-flex justify-content-center text-muted" >Login</h1>


<div id="signin_container" >
	<div class="row justify-content-center">
        <div class="col-lg-3">
			<form method="POST" novalidate>
	
			{% csrf_token %}
			{{form | crispy  }}
			<button type="submit" id="login_button" class="btn btn-success" >login</button>
		
			<p><a href="{% url 'password_reset' %}"> Forgot Password </a></p>
		</form>
	</div>
	</div>
	

</div>


	
{% endblock content %}