{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}



<!-- <form action="test_click" method="get">
 	<button type="submit" class="btn"> fuck you button</button>
</form>
 -->

<!-- input -> type and name -->
<h1 class="row d-flex justify-content-center text-muted" >Add course</h1>

<div class="row justify-content-center">
	<div class="col-lg-3">

		<div>
			<label > course code : </label>
			<input type="text" ></input>
		</div>

		<div>
			<label> course name</label>
			<input type="text" ></input>
		</div>

		<div>
			<label> course description </label>
			<input type="text" ></input>
		</div>

		<!-- <form method="POST" novalidate> -->
			<!-- {% csrf_token %} -->
			<!-- {{ form | crispy }} -->
			<!-- <button style="submit" class="btn btn-primary"> Add </button> -->
		<!-- </form> -->
	</div>
</div>


{% endblock content %}

